<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" *ngIf="userDetails" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/profile.jpg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{userDetails.firstName}} {{userDetails.lastName}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom
             [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button *ngIf="userRoles.includes('developer')"
              mat-raised-button color="primary"
              aria-label="'PROFILE.COPY_TO_CLIPBOARD_DESC' | translate"
              (click) ="copyTokenToClipBoard()">{{'PROFILE.COPY_TO_CLIPBOARD' | translate}}
                <mat-icon aria-label="'PROFILE.COPY_TO_CLIPBOARD_DESC' | translate">content_copy</mat-icon>
            </button>
            <textarea style="display: none; opacity: 0;" name="jwt" id="jwt" cols="0" rows="0"></textarea>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">


            <mat-tab label="{{'PROFILE.ABOUT' | translate}}">
                <profile-about></profile-about>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
