<div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

    <div class="profile-box info-box work" fxLayout="column">

      <header class="mat-accent-bg">
        <div class="title">{{'PROFILE.GENERAL_INFORMATION' | translate}}</div>
      </header>

      <div class="content">
        <div class="info-line">
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.NAME' | translate}}</td>
              <td class="date">Daniel</td>
            </tr>
          </table>
        </div>

        <div class="info-line">
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.LASTNAME' | translate}}</td>
              <td class="date">Tobon Uribe</td>
            </tr>
          </table>
        </div>

        <div class="info-line">
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.EMAIL' | translate}}</td>
              <td class="date">daniel.tobon@nebulae.com.co</td>
            </tr>
          </table>
        </div>
        <div class="info-line">
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.USER' | translate}}</td>
              <td class="date">Drimax</td>
            </tr>
          </table>
        </div>

        <div class="info-line">
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.PASSWORD' | translate}}</td>
              <td class="date">*********</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <div class="profile-box info-box work" fxLayout="column">

      <header class="mat-accent-bg">
        <div class="title">{{'PROFILE.ROLES' | translate}}</div>
      </header>

      <div class="content">
        <div class="info-line">
          <div class="title">{{'PROFILE.OPERATOR' | translate}}</div>
          <table class="info jobs">
            <tr class="job">
              <td class="company">{{'PROFILE.DASHBOARD' | translate}}</td>
              <td class="date">Read and Write</td>
            </tr>

            <tr class="job">
              <td class="company">{{'PROFILE.PROFILE' | translate}}</td>
              <td class="date">Admin</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

    <div class="profile-box latest-activity" fxLayout="column">

      <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">{{'PROFILE.LATEST_ACTIVITY' | translate}}</div>
        <div class="more secondary-text">See All</div>
      </header>

      <div class="content" fxLayout="row" fxLayoutWrap>
        <div class="activities">
          <div class="activity" fxLayout="row" fxLayoutAlign="start start">
            <div fxLayout="column">
              <div>
                <span class="username">{{'PROFILE.LOGIN_AT' | translate}}:</span>
              </div>
              <span class="time secondary-text">19/03/18 03:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
