<div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

    <div class="profile-box info-box work general" fxLayout="column">

      <header class="mat-accent-bg">
        <div class="title">{{'PROFILE.GENERAL_INFORMATION' | translate}}
          <button #editProfileBtn mat-icon-button aria-label="Mention somebody" roterLink
            matTooltip="{{'PROFILE.EDIT_NAME' | translate  }}"
            (click)="getLinkToEditKeycloakAccount(editProfileBtn)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </header>

      <div class="content">
        <div class="info-line">
          <div class="title">{{'PROFILE.NAME' | translate}}</div>
          <div class="info">{{userDetails.firstName}}
          </div>
        </div>

        <div class="info-line">
          <div class="title">{{'PROFILE.LASTNAME' | translate}}</div>
          <div class="info">{{userDetails.lastName}}</div>
        </div>

        <div class="info-line">
          <div class="title">{{'PROFILE.EMAIL' | translate}}</div>
          <div class="info">{{userDetails.email}}</div>
        </div>
        <div class="info-line">
            <div class="title">{{'PROFILE.USER' | translate}}</div>
            <div class="info">{{userDetails.username}}</div>
        </div>

      </div>

    </div>

    <div class="profile-box info-box work" fxLayout="column">

      <header class="mat-accent-bg">
        <div class="title">{{'PROFILE.ROLES' | translate}}</div>
      </header>

      <div class="content">
        <!-- <div class="info-line" *ngFor="let userRole of userRoles"> -->
        <mat-chip-list matPrefix fxLayout="row" fxLayoutAlign="space-evenly center">
          <mat-chip *ngFor="let userRole of userRoles"
            removable="false" style="margin-top: 5px">
            {{userRole}}
            <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
          </mat-chip>
        </mat-chip-list>
        <!-- </div> -->
      </div>
    </div>

  </div>

  <div *ngIf="false" class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

    <div class="profile-box latest-activity" fxLayout="column">

      <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">{{'PROFILE.LATEST_ACTIVITY' | translate}}</div>
        <div class="more secondary-text">See All</div>
      </header>

      <div class="content" fxLayout="row" fxLayoutWrap>
        <div class="activities">
          <div class="activity" fxLayout="row" fxLayoutAlign="start start">
            <div fxLayout="column">
              <div>
                <span class="username">{{'PROFILE.LOGIN_AT' | translate}}:</span>
              </div>
              <span class="time secondary-text">19/03/18 03:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
